version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: data-extraction-app
    ports:
      - "8000:8000"
    environment:
      REDIS_URL: "redis://redis:6379/0"
    volumes:
      - ./app/logs:/app/logs # save logfiles to host machine
    depends_on:
      - redis
      - mysql

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./data/redis:/data

  mysql:
    image: mysql:8.4
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: data_request
      TZ: "Asia/Seoul"
    command: --local-infile=1 # allow sample_data injection using LOCAL FILE
    ports:
      - "3306:3306"
    volumes:
      - ./data/mysql:/var/lib/mysql
      - ./db/init:/docker-entrypoint-initdb.d

volumes:
  redis_data:
  mysql_data:
